<div class="row justify-content-center">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <div class="row m-4">
          <h2>Create new diagnosis item</h2>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>


